@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg border border-white border-opacity-30;
  }
  .glass-dark {
    @apply bg-gray-900 bg-opacity-40 backdrop-filter backdrop-blur-lg border border-white border-opacity-10;
  }
}

body {
  @apply bg-gray-50 text-gray-900 overflow-x-hidden;
}
